* {
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 62.5vh;
    padding: 70px 45px;
    justify-content: center;
    align-items: center;
    background: #181818eb;

    .row {
        width: 100%;
    }
}

.pinned-header {
    display: flex;
    padding: 0 60px;
    align-items: center;
    height: 70px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    .logo-img {
        height: 2rem;
        width: auto;
    }
}

.row {
    position: relative;
    margin-bottom: 16px;
}

.genre {
    color: white;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 8px 16px;
}

.movies {
    display: flex;
    grid-gap: 5px;
    margin: 8px auto;
    gap: 5px;
    overflow: unset;
    transition: 0.3s all ease;
    z-index: 1;

    &:hover {
        z-index: 4!important;
    }

    .movies-container {
        padding: 0 8px;
        background: orange;
        display: flex;
        gap: 8px;
        width: auto;
    }

    .movie-item {
        background-color: rgb(170, 0, 0);
        border: 2px solid white;
        width: 98%;
        height: 166px;
        margin: auto;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 3px;
        z-index: 3;

        .movie-card {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 3;
            transition: 0.3s all ease;
            border-radius: 3px;


            &:hover {
                box-shadow: 0px 0px 20px 3px #000000;
                transform: scale(1.5);
                position: relative;
                z-index: 4;
                background: yellow;
            }
            
        }

        

        .movie-text {
            position: absolute;
            background: linear-gradient(0deg, black, #0000009c, transparent);
            bottom: 0;
            width: 100%;
            height: 25%;

            .title {
                font-size: 1em;
                font-weight: 500;
                padding: 8px;
            }
        }

        & img {
            height: 100%;
            width: 100%;
            position: absolute;
            object-fit: cover;
            object-position: 100%;
            cursor: pointer;
            border-radius: 3px;
        }
    }
}

.arrow-carousel {
    color: white;
    width: 5%;
    top: 16%;
    height: 85%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    cursor: pointer;
    font-size: 1.25em;
    z-index: 1;

    &.left {
        left: 0;
        background-image: linear-gradient(to right, black, transparent);
    }
    &.right {
        right: 0;
        background-image: linear-gradient(to right, transparent, black);
    }
}

.react-multi-carousel-list {
    overflow: unset;
}

.active-card {
    z-index: 4!important;
}

footer {
    width: 100%;
    height: 35vh;
}
