.Login {
    display: flex;
    background-image: url("../images/IT-it-20211011-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 80vh;
    padding: 70px 45px;
    justify-content: center;
    align-items: center;
}

footer {
    grid-column: 1 / 7;
    background-color: var(--footer-bg);
    height: 25vh;
    border: none;
}

.login-content {
    height: 55vh;
    background: rgba(0,0,0,.75);
    width: 22em;
    z-index: 1;
    padding: 3em;
}

.login-page-title {
    color: white;
}

.login-input-label {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.login-field {
    height: 45px;
    padding: 20px 20px 5px;
    width: 100%;
    font-size: 1em;
}

.login-field:focus + .placeLabel {
    margin-bottom: 25px;
    font-size: 60%;
}

.login-input-label input:focus ~ .placeLabel, .login-input-label input:focus ~ .placeLabel, .login-input-label input:valid ~ .placeLabel {
    margin-bottom: 25px;
    font-size: 60%;

}

.placeLabel {
    position: absolute;
    margin-left: 20px;
    transition: all 0.3s ease;
}

.login-button {
    width: 100%;
    padding: 16px;
}
